* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	background-color: #fff;
}

table {
	font-family: Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90vw;

	margin-left: 5vw;

	margin-top: 6vh;
	margin-bottom: 6vh;

	background-color: #fff;

	margin-top: 2vh;
}

table th {
	border-bottom: 0;
}

table td {
	border-bottom: 1px solid #f5f5f5;
	color: #9698A4;

	font-weight: 100;
}

table tr {
	border-radius: 3px;

	margin: 20px;
}

table tr:nth-child(even) {
	background-color: #fefefe;
}

table tr:hover {
	background-color: #f8f8f8;
}

table tr td {
	text-align: left;
}

table tr th {
	text-align: left;
}

table th {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #EFF1F3;
	color: #000;

	font-weight: 100;
}