* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	background-color: #fff;
}

/*
table {
	font-family: Helvetica, sans-serif;
	border-collapse: collapse;
	width: 90vw;

	margin-left: 5vw;

	margin-top: 6vh;
	margin-bottom: 6vh;

	background-color: #fff;

	margin-top: 2vh;
}

table th {
	border-bottom: 0;
}

table td {
	border-bottom: 1px solid #f5f5f5;
	color: #9698A4;

	font-weight: 100;
}

table tr {
	border-radius: 3px;

	margin: 20px;
}

table tr:nth-child(even) {
	background-color: #fefefe;
}

table tr:hover {
	background-color: #f8f8f8;
}

table tr td {
	text-align: left;
}

table tr th {
	text-align: left;
}

table th {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #EFF1F3;
	color: #000;

	font-weight: 100;
}*/

#addPlayerForm {
	width: 60vw;
	margin-left: 20vw;

	background-color: #fff;

	display: flex;
	flex-direction: column;

	font-family: 'Roboto';

	padding: 40px 0;
}

#addPlayerForm .rowForm {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-between;*/

	margin-bottom: 10px;
}

#addPlayerForm .rowForm.rowFormSpace {
	margin-bottom: 50px;
}

#addPlayerForm .rowCont {
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	margin-bottom: 20px;
	margin-right: 20px;
}


/*#addPlayerForm label {
	margin: 5px 0;
	font-size: 15px;
	font-weight: 500;

	color: #565656;
}*/

#addPlayerForm label {
	margin: 5px 0;
	font-size: 15px;
	font-weight: 500;
	color: #565656;
	background-color: #fff;
	z-index: 20;
	align-self: flex-start;
	margin-left: 10px;
	padding: 1px 10px 1px 10px;
	border-radius: 4px;
}

#addPlayerForm select,
#addPlayerForm input,
#addPlayerForm textarea {
	border: 2px solid #00000000;
	border-radius: 4px;
	outline: 0;
	padding: 10px 20px 10px 20px;

	background-color: #0000000f;
	color: #9e9e9e;

	height: 7vh;
	font-size: 18px;
}

#addPlayerForm select,
#addPlayerForm input,
#addPlayerForm textarea {
	border: 2px solid #7c7c7c;
	border-radius: 4px;
	outline: 0;
	padding: 10px 20px 10px 20px;
	background-color: #ffffff;
	color: #000;
	height: 7vh;
	font-size: 18px;
	margin-top: -16px;
}

#addPlayerForm select::placeholder,
#addPlayerForm input::placeholder,
#addPlayerForm textarea::placeholder {
	color: #bcbcbc;
}

#addPlayerForm input[type="radio"] {
	opacity: 0;
	position: absolute;
	height: 0;
	width: 0;
	cursor: pointer;
}

#addPlayerForm .rowCont .radioLabel {
	display: flex;
	flex-direction: row;
	flex-grow: 1;

	/*margin-bottom: 20px;*/
	/*margin-right: 20px;*/

	align-items: center;

	font-size: 18px;

	margin-left: 0;
	padding: 0;
}

#addPlayerForm .rowCont .radioLabel .radioInnerLabel {
	margin-right: 10px;
}

.checkmark {
	height: 40px;
	width: 40px;
	background-color: #fff;
	/*position: absolute;*/
	margin-top: 5px;

	border: 2px solid #7c7c7c;

	border-radius: 99999px;

	position: relative;
}

.checkmark:after {
	content: "";
	width: 20px;
	height: 20px;
	left: 3px;
	top: 3px;
	position: absolute;

	border: 5px solid #fff;
	background: #fff;

	border-radius: 99999px;
}

#addPlayerForm input[type="radio"]:checked~.checkmark {
	background-color: #fff;
}

#addPlayerForm input[type="radio"]:checked~.checkmark:after {
	background: #3a3a3a;
}

#addPlayerForm select:focus,
#addPlayerForm input:focus,
#addPlayerForm textarea:focus {
	border: 2px solid #48a7ff;
	outline: none;
}

#addPlayerForm a {
	margin: 15px 0;
	font-size: 20px;
	font-weight: 700;

	padding: 10px 20px;
	color: #fff;

	border-radius: 5px;

	background-color: #48a7ff;

	align-self: flex-end;

	text-decoration: none;
}